<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076625903918-47oue7stuur9rng09t3fp6is3hkg1rb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076625903918-47oue7stuur9rng09t3fp6is3hkg1rb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCLr6-uLMbUBcWIvOxoDX86eCfTcg7Y2yc</string>
	<key>GCM_SENDER_ID</key>
	<string>1076625903918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseUploadExample</string>
	<key>PROJECT_ID</key>
	<string>imageapp-a3358</string>
	<key>STORAGE_BUCKET</key>
	<string>imageapp-a3358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076625903918:ios:50404def2be5d8e3ccaabf</string>
</dict>
</plist>